@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: #ffffff;
}

/* Mobile screen size */

@media only screen and (max-width: 600px) {
  
/* Page Logo */
}
#picture-logo {
    background-image: url('../css/images/Lighthouse\ Logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -1000px;

    height: 94px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-190px, -70%);
}

#logo {
    font-size: 200%;
    margin-top: 20px;
}

header {
    text-align: center;
    position: relative;
    height: 40px;
}

header a {
    text-decoration: none;
    color: inherit;
    font-family: Fira Sans, sans-serif;
}

/* Navigation Bar*/

#navigation {
    font-size: 110%;
    float: right;
    list-style-type: none;
    width: 100%;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}
li {
    display: inline-block;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    color: #ffffff;
    background-color: #a9bdd8;
}

ul {
    list-style-type: none;
    
}
#nav-home {
    margin-left: 20px;
}
#nav-contact {
    
}

#section1 {
    margin-top: 20px;
}

/*main banner */
#main-banner-container {
    height: 250px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-banner {
    background: url('../css/images/Harbour\ with\ boats.jpg') no-repeat center center;
    background-size: 100%;
    width: 150%;
    
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -1000px;
    
}

/* list section */
#list {
    height: 200px;
    width: 100%;
    overflow: hidden;

    position: relative;

    text-align: center;
}

}



/* medium size screen 
@media screen and (min-width: 600px) {
    #logo {
        font-size: 200%;
        margin-left: 25%;
}
}
*/
/* large screen 
@media screen and (min-width: 1200px) {
    #logo {
        font-size: 200%;
        margin-left: 50%;
}
}
*/