* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color:rgb(211,211,211);
}

nav, ul {
    list-style-type: none;
    margin-right: 30px;
}

/* Page Logo */
#logo {
    font-size: 200%;
    position: relative;
    margin-left: 60px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navigation {
    font-size: 110%;
    float: right;
    list-style-type: none;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}
nav, li {
    display: inline;
}

/*main banner */
#main-banner-container {
    border: 1px solid red;
    height: 200px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-banner {
    background: url('../css/images/Folkestone_Sign.png') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
}





















/* medium size screen */
@media screen and (min-width: 400px) {
    #logo {
        font-size: 200%;
        margin-left: 25%;
}
}
/* large screen */
@media screen and (min-width: 1200px) {
    #logo {
        font-size: 200%;
        margin-left: 50%;
}
}